<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/Primeras.css' %}" />
    <title>Login</title>
</head>
<body>
    <div class="box">
        <form method="POST" action="/">
            {% csrf_token  %}
            <span class="text-center">Inicio de Sesión</span>
            <div class="input-container">
                <input type="text" name="Ingreso" required="" />
                <label>Numero de Cuenta</label>
            </div>
            <div class="input-container">
                <input type="password" name="Contraseña" required="" />
                <label>Clave de Acceso</label>
            </div>
            <button type="submit" class="btn">Ingresar</button>
        </form>
    </div>

</body>
</html>