<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/Otros.css' %}" />
    <title>Transacciones entre Cuentas</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">
                    Transacciónes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/Transacciones/EntreCuentas/">Transacciónes entre Cuentas Propias</a>
                    <a href="http://127.0.0.1:8000/Transacciones/Terceros/">Transacciónes a Cuentas de Terceros</a>
                </div>
            </div>
            <a href="http://127.0.0.1:8000/Pre-Autorizacion/">Pre-Autorización de Cheques</a>
            <div class="dropdown">
                <button class="dropbtn">
                    Pagos
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/Pagos/Servicios/">Pago de Servicios</a>
                    <a href="http://127.0.0.1:8000/Pagos/PlantillasyProveedores/">Pago de Plantillas</a>
                </div>
            </div>
            <a href="http://127.0.0.1:8000/Solicitud-Prestamos/">Solicitud de Prestamos</a>
            <div class="dropdown">
                <button class="dropbtn" >
                    Usuario
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/Usuario/">Estado de Cuenta</a>
                    <a href="http://127.0.0.1:8000/Usuario/Suspender/">Suspender Cuenta</a>
                    <a href="http://127.0.0.1:8000/Usuario/Reactivar/">Reactivar Cuenta</a>
                </div>
            </div>
        </div>
    </header>
    <div class="grid-container" style="grid-template-columns: 20% 60% 20%;">
        <div class="item2">

        </div>
        <div class="item1">
            <div class="box">
                <form>
                    <span class="text-center">Reactivar Cuenta</span>
                    <div>
                        <input type="checkbox" required="" />
                        <label>Desea Reactivar su cuenta?</label>
                    </div>
                    <br />
                    <button type="button" class="btn" style="text-align:center">Aceptar</button>
                </form>
            </div>
        </div>
        <div class="item2">

        </div>
    </div>

</body>
</html>