<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/Primeras.css' %}" />
    <title>Registro del Cliente</title>
</head>
<body>

    <div class="box">
        <form>
            <span class="text-center">Registro de Cliente</span>
            <div class="input-container">
                <input type="number" required="" />
                <label>CUI</label>
            </div>
            <div class="input-container">
                <input type="number" required="" />
                <label>NIT</label>
            </div>
            <div class="input-container">
                <input type="text" required="" />
                <label>Primer Nombre</label>
            </div>
            <div class="input-container">
                <input type="text" required="" />
                <label>Segundo Nombre</label>
            </div>
            <div class="input-container">
                <input type="text" required="" />
                <label>Primer Apellido</label>
            </div>
            <div class="input-container">
                <input type="text" required="" />
                <label>Segundo Apellido</label>
            </div>
            <div class="input-container">
                <input type="number" required="" />
                <label>Numero Telefonico</label>
            </div>
            <div class="input-container">
                <input type="email" required="" />
                <label>Correo Electronico</label>
            </div>
            <div class="input-container">
                <input type="date" />
                <label>Fecha de Nacimiento</label>
            </div>
            <div class="input-container">
                <a href="http://127.0.0.1:8000/" style="color:blue">Ya posee una Cuenta?</a>
            </div>
            <button type="button" class="btn">Registrar</button>
        </form>
    </div>

</body>
</html>